body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./images/rick_and_morty.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: rgb(30,30,150);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  height: 100%;
}

.Bar {
  width: 100%;
  height: 64px;
  background-color: rgba(30,30,30,.8);
  position: fixed;
}

.Bar-bemaster {
  margin-top: 16px;
  margin-left: 32px;
}

.Bar-title {
  width: auto;
  margin-top: 12px;
  margin-left: 32px;
  height: 32px;
  font-size: 24px;
  
}

.Body {
  width: 100%;
  overflow: auto;
  padding-bottom: 32px;
}

.card {
  width: 80%;
  margin: 0 auto;
  /*background-color: rgba(255,255,255,1);*/
  padding: 16px;
  border-radius: 0 0 20px 20px white;
  box-shadow: 0 0 8px 4px rgb(150, 100, 0);
}

.chars-card {
  width: 40%;
  float: left;
  margin-top: 32px;
}

.char-name {
  color: rgb(150, 100, 0);
  font-size: 24px;
  text-shadow: 0 0 10px white;
}

.char-property {
  margin: 8px 0;
  color: white;
  font-size: 24px;
  text-shadow: 0 0 10px black;
}

.info-card {
  width: 60%;
  float: left;
  margin-top: 32px;
}

.episodes {
  height: 100px;
  overflow-y: scroll;
}

.episodes-head {
  color: rgb(150, 100, 0);
  background-color: black;
}

.episode {
  width: 100%;
  color: white;
  background-color: black;
}

.button {
  background-color: rgb(200,0,50);
  color: rgb(50,0,10);
  padding: 16px;
  border: unset;
  border-radius: 50%;
  width: auto;
  width: 70px;
  height: 70px;
  box-shadow: 0 0 5px 5px rgb(200,0,50);
  border: solid 1px rgb(200,0,50);
  font-size: 32px;
  margin: 16px;
}

.filters {
  margin-top: 80px;
}